.inline-chart {
    max-width: 60rem;
    margin: 0 auto;
}

rect {
    fill: #86C7DF;
  }
  
  .y .domain {
    display: none;
  }
  
  .x .domain {
    display: none;
  }
  
  .x .tick line {
    display: none;
  }

  .y .tick:not(:first-of-type) line {
    stroke: #e7e7e7;
  }

  .chart-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .highlight {
    fill: #2AB2E4;
  }